@import "tailwindcss";

@theme {
  --color-primary: #82db6f;
  --color-primary-container: #006400;
  --color-secondary: #ffb4ac;
  --color-outline-variant: #404a3b;
  --color-on-surface: #e5e2e1;
  --color-surface-container: #20201f;
  --color-on-surface-variant: #bfcab7;
  --color-surface-variant: #353535;
  --color-on-primary-container: #86df72;
}